<!-- <p>pagination works!</p> -->
<!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->

<!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
      <a class="page-link" href="#" (click)="changePage(currentPage - 1)" tabindex="-1" [attr.aria-disabled]="currentPage === 1">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'active': currentPage === 1}">
      <a class="page-link" href="#" (click)="changePage(1)">1</a>
    </li>
    <li class="page-item" [ngClass]="{'active': currentPage === 2}">
      <a class="page-link" href="#" (click)="changePage(2)">2</a>
    </li>
    <li class="page-item" [ngClass]="{'active': currentPage === 3}">
      <a class="page-link" href="#" (click)="changePage(3)">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" (click)="changePage(currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{'active': currentPage === 3}">
      <a class="page-link" href="#" (click)="changePage(3)">{{totalPages}}</a>
    </li>
  </ul>
</nav> -->


<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="loadPreviousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" (click)="loadPage(1)">1</a></li>
    <li class="page-item"><a class="page-link" (click)="loadPage(2)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="loadPage(3)">3</a></li>
    <li class="page-item">
      <a class="page-link" (click)="loadNextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{totalPages}}</a></li>
  </ul>
</nav> -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="loadPreviousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngIf="currentPage > 1">
      <a class="page-link" (click)="loadPage(currentPage - 1)" [ngClass]="{'selected-page': isSelectedPage(currentPage - 1)}">{{ currentPage - 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="loadPage(currentPage)" [ngClass]="{'selected-page': isSelectedPage(currentPage)}">{{ currentPage }}</a>
    </li>
    <li class="page-item" *ngIf="currentPage < totalPages">
      <a class="page-link" (click)="loadPage(currentPage + 1)" [ngClass]="{'selected-page': isSelectedPage(currentPage + 1)}">{{ currentPage + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="loadNextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <!-- <li class="page-item"><a class="page-link" href="#">{{ totalPages }}</a></li> -->
  </ul>
</nav>