.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0px;
}

.page-link {
  background-color:  #24364C;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.selected-page {
  background-color: #3C3838; 
  color:#f2f2f2;
  font-weight: 500; 
}