
<div class="detailsContainer">
  <div class="details">
    
    <div class="poster" *ngIf="movie.poster_path; else noImage">
      <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" class="" alt="Film Poster">
    </div>
    
    <ng-template #noImage>
      <img class="notFound" src="assets/poster-not-found.png" alt="Sem poster">
    </ng-template>
    
    <div class="sinopse">
      <div class="card-body">
        <h5 class="card-title">
          <p>{{movie.title}} ({{movie.release_date | date: 'yyyy'}})</p>
        </h5>
        <p class="review">
          <strong>
            Review: 
          </strong> 
          {{ movie.vote_average | number:'1.1-1'}} | {{ movie.vote_count | number:'1.0-2'}} votes
        </p>
        <p class="genre">
          <strong>
            Genres: 
          </strong> 
          {{movie.genres[0].name}}, {{movie.genres[1].name}}
        </p>
        <p class="card-text">
          <strong>
            Overview: 
          </strong>
          {{movie.overview}}
        </p>
      </div>
    </div>
  </div>
</div>