*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* border: solid pink; */
}

#movieContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  background-color: #24364C;
  border-radius: 1vmin;
  max-width: 90%;
  margin: 0 2vmin;
  /* align-items: center; */
  /* justify-content: center; */
  /* border: solid orange; */
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: solid yellow; */
}

.card-img-top, .notFound{
  max-width: 80%;
  border-radius: 2vmin;
  height: auto;
  /* border: solid purple; */
}

.card-img-top:hover, .notFound:hover {
  transform: scale(1.1);
  transition: ease;
  transition: 0.5s;
}

.linkID, .ifImage{
  display: flex;
  justify-content: center;
  /* border: solid red; */
}

#title, #date {
  color: #f2f2f2;
  text-align: center;
  font-size: 0.8rem;
  /* height: 100%;
  width: 100%; */
  /* overflow: auto; */
  /* white-space: pre; */
  white-space: pre-line;
}

#card-body {
  width: 100%;
  height: 100%;
  /* border: solid red; */
  flex-direction: column;
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #616D7C;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3D5879;
  border-radius: 10px;
} */