<div class="topContent">
  <div class="filtering">
    <select class="filter" [(ngModel)]="selectedGenre" (change)="optionsChange()">
      <option value="0">Filter by Genre</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
    </select>
    <select class="order" [(ngModel)]="selectedOrder" (change)="optionsChange()">
      <option *ngFor="let order of orderByList" [value]="order.order">{{order.text}}</option>
    </select>
    <!-- <div class="searchGrid">
      <div class="searchContainer">
        <input class="search" type="search" [(ngModel)]="keyWord" placeholder="Search your movie" (input)="optionsChange()"/> 
        <img class="searchIcon" src="/assets/search.png" alt="Search Icon">
      </div>
    </div> -->
  </div>
</div>

<!--(input)="searchMovies(term: string)"-->